@(message: String, noUsers: Int, noQuestions: Int, users: List[String])


@main("GettingStarted") {

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="http://www.logodust.com/img/free/logo7.png">
    </a>
    <h1>Know yourself! Get to know yourself through data</h1>
    <p>Set your goal to monitor and see how your progress correlates with your daily activities.</p>
    <p>Find out what works best for you!</p>
    <a type="button" class="btn btn-lg btn-default" href="http://knowurself.net/user/?name=kmisiunas"><span class="glyphicon glyphicon-flash"></span> See a sample</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h3><span class="glyphicon glyphicon-info-sign"></span> The awesome team behind this project</h3>
    <ul>
      <li> Karolis Misiūnas</li>
      <li> Alexandru Brisan</li>
      <li> Aidas Liaudanskas</li>
      <li> Satyajit Das</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3><span class="glyphicon glyphicon-link"></span> Stats</h3>
    <h4><span class="glyphicon glyphicon-link"></span> Number of users: @noUsers</h4>
    <h4><span class="glyphicon glyphicon-link"></span> Number of answers: @noQuestions</h4>
    <br>

    <h3><span class="glyphicon glyphicon-link"></span> Users</h3>
    <ul>
      @for(user <- users){
      <li class="text-left"><a href="user/?name=@user">@user</a></li>
      }
    </ul>
  </div>

</div>
</div> <!-- row -->
</div>

}
