@(username: String, questions: List[(String, Int)], tasks: List[(String, Int)])

@main("User") {

<div class="container text-center">

  <div class="alert alert-info text-center" role="alert">
    <a href="http://knowurself.net/user/?name=kmisiunas" class="alert-link">Click here for a demo user to explore the platform</a>.
  </div>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> About @username</h3>
      <br>
      <h4  class="text-left">Tasks / Objectives:</h4>
      <ul>
        @for(task <- tasks){
        <li class="text-left"><a href="task?name=kmisiunas&task=@task._2">@task._1</a></li>
        }
      </ul>
    </div>
    <hr>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <h4  class="text-left">Questions:</h4>
      <ul>
        @for(question <- questions){
        <li class="text-left"><a href="question?name=kmisiunas&question=@question._2">@question._1</a></li>
        }
      </ul>
    </div>
    <hr>
  </div> <!-- row -->

</div>

}
